pip==20.2.4
face_recognition==1.3.0
Flask==2.1.0
Flask_Mail==0.9.1
Flask_MySQLdb==0.2.0
mysql_connector_repackaged==0.3.1
numpy
opencv_python-headless==4.5.2.54
pandas==1.1.3
requests
Werkzeug
gunicorn