<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='editform.css') }}">
    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
  <title>Attendance Record</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
  <style>
       html {
   margin: 0px;
   height: 100%;
   width: 100%;
}
     body{
background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
      }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Portfolio Master</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="/home">Home</a>
          <a class="nav-link" href="/about">About</a>
          <a class="nav-link" href="/show">Profile</a>
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </div>
      </div>
    </div>
  </nav>
</head>

<body>
  <center>
    <h1>Attendance Record w.r.t. {{subject}} from {{idated}} to {{fdated}}</h1>
    <form action="{{ url_for('fchart1') }}" method="post">

    <select id="courseid" name="courseid">
                                  <option value="SML222">SML222</option>
                                  <option value="CSE222">CSE222</option>
                                  <option value="CSE111">CSE111</option>
                                </select>
    <input class="btn-light" type="date" placeholder= "From" name="idate" id="viewdate">
    <input class="btn-light" type="date" placeholder= "To" name="fdate" id="viewdate">
    <a href="{{ url_for('fchart1') }}" target="blank"><button class='btn-dark'>View Chart</button></a>
  </center>
  <center>
    <canvas id="chart" width="600" height="400"></canvas>
    <script>
      // bar chart data
      var barData = {
        labels : [
          {% for item in labels %}
           "{{ item }}",
          {% endfor %}
	],

        datasets : [{
          fillColor: "rgba(351,201,10,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          data : [
            {% for item in values %}
               "{{ item }}",
              {% endfor %}
	    ]
          }
        ]
      }

     // get bar chart canvas
     var mychart = document.getElementById("chart").getContext("2d");

       steps = 5
       max = {{max}}

     // draw bar chart
     new Chart(mychart).Bar(barData, {
       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: Math.ceil(max / steps),
       scaleStartValue: 0,
       scaleShowVerticalLines: true,
       scaleShowGridLines : true,
       barShowStroke : true,
       scaleShowLabels: true
       }
     );

    </script>
  </center>
</body>
</html>